// Background color utility mixin
@mixin bg-color-variant($name: ".bg-primary", $color: var(--primary-color)) {
  #{$name} {
    background: $color !important;
    // TODO: color should depend on luminosity of BG
    color: var(--light-color); // TODO: should be called "contrast-color" or such
  }
}

// Text color utility mixin
@mixin text-color-variant($name: ".text-primary", $color: var(--primary-color)) {
  #{$name} {
    color: $color !important;
  }

  a#{$name} {
    &:focus,
    &:hover {
      color: color-mix(in srgb, $color, black 5%); // darken($color, 5%);
    }
    &:visited {
      color: color-mix(in srgb, $color, white 5%); // lighten($color, 5%);
    }
  }
}
