// Codes
code {
  @include label-base();
  @include label-variant(var(--code-color), lighten(var(--code-color), 42.5%));
  font-size: 85%;
}

.code {
  border-radius: var(--border-radius);
  color: var(--body-font-color);
  position: relative;

  &::before {
    color: var(--gray-color);
    content: attr(data-lang);
    font-size: var(--font-size-sm);
    position: absolute;
    right: var(--layout-spacing);
    top: var(--unit-h);
  }

  code {
    background: var(--bg-color);
    color: inherit;
    display: block;
    line-height: 1.5;
    overflow-x: auto;
    padding: 1rem;
    width: 100%;
  }
}

// Don't style codeblocks likely to be styled via plugins
pre[class] code {
  background: unset;
  color: unset;
}
