:root {

    /* Core features */
    --rtl: false;

    /* Core colors */
    --primary-color: #5755d9;
    --primary-color-dark: color-mix(in srgb, var(--primary-color), black 5%); // darken(var(--primary-color), 3%);
    --primary-color-light: color-mix(in srgb, var(--primary-color), white 5%); // lighten(var(--primary-color), 3%);
    --secondary-color: color-mix(in srgb, var(--primary-color), white 37%); // lighten(var(--primary-color), 37.5%);
    --secondary-color-dark: color-mix(in srgb, var(--secondary-color), black 5%); // darken(var(--secondary-color), 3%);
    --secondary-color-light: color-mix(in srgb, var(--secondary-color), white 5%); // lighten(var(--secondary-color), 3%);

    /* Gray colors */
    --dark-color: #303742;
    --light-color: #fff;
    --gray-color: color-mix(in srgb, var(--dark-color), var(--light-color)) // lighten(var(--dark-color), 55%);
    --gray-color-dark: color-mix(in srgb, var(--gray-color), black 30%) // darken(var(--gray-color), 30%);
    --gray-color-light: color-mix(in srgb, var(--gray-color), white 20%) //lighten(var(--gray-color), 20%);

    --border-color: color-mix(in srgb, var(--dark-color), white 65%); // lighten(var(--dark-color), 65%);
    --border-color-dark: color-mix(in srgb, var(--border-color), black 10%); // darken(var(--border-color), 10%);
    --border-color-light: color-mix(in srgb, var(--border-color), white 8%); // lighten(var(--border-color), 8%);

    --bg-color: color-mix(in srgb, var(--dark-color), white 75%); // lighten(var(--dark-color), 75%);
    --bg-color-dark: color-mix(in srgb, var(--bg-color), black 3%); // darken(var(--bg-color), 3%);
    --bg-color-light: var(--light-color);

    /* Control colors */
    --success-color: #32b643;
    --warning-color: #ffb700;
    --error-color: #e85600;

    /* Other colors */
    --code-color: #d73e48;
    --highlight-color: #ffe9b3;

    --body-bg: var(--bg-color-light);
    --body-font-color: color-mix(in srgb, var(--dark-color), white 5%); // lighten(var(--dark-color), 5%);

    --link-color: var(--primary-color);
    --link-color-dark: color-mix(in srgb, var(--link-color), black 10%); // darken(var(--link-color), 10%);
    --link-color-light: color-mix(in srgb, var(--link-color), white 10%); // lighten(var(--link-color), 10%);

    /* Fonts */
    /* Credit: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/ */
    --base-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
    --mono-font-family: "SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier, monospace;
    --fallback-font-family: "Helvetica Neue", sans-serif;
    --cjk-zh-hans-font-family: var(--base-font-family), "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", var(--fallback-font-family);
    --cjk-zh-hant-font-family: var(--base-font-family), "PingFang TC", "Hiragino Sans CNS", "Microsoft JhengHei",
        var(--fallback-font-family);
    --cjk-jp-font-family: var(--base-font-family), "Hiragino Sans", "Hiragino Kaku Gothic Pro", "Yu Gothic", YuGothic, Meiryo,
        var(--fallback-font-family);
    --cjk-ko-font-family: var(--base-font-family), "Malgun Gothic", var(--fallback-font-family);
    --body-font-family: var(--base-font-family), var(--fallback-font-family);

    /* Unit sizes */
    --unit-o: 0.05rem;
    --unit-h: 0.1rem;
    --unit-1: 0.2rem;
    --unit-2: 0.4rem;
    --unit-3: 0.6rem;
    --unit-4: 0.8rem;
    --unit-5: 1rem;
    --unit-6: 1.2rem;
    --unit-7: 1.4rem;
    --unit-8: 1.6rem;
    --unit-9: 1.8rem;
    --unit-10: 2rem;
    --unit-12: 2.4rem;
    --unit-16: 3.2rem;

    /* Font sizes */
    --html-font-size: 20px;
    --html-line-height: 1.5;
    --font-size: 0.8rem;
    --font-size-sm: 0.7rem;
    --font-size-lg: 0.9rem;
    --line-height: 1.2rem;

    /* Sizes */
    --layout-spacing: var(--unit-2);
    --layout-spacing-sm: var(--unit-1);
    --layout-spacing-lg: var(--unit-4);
    --border-radius: var(--unit-h);
    --border-width: var(--unit-o);
    --border-width-lg: var(--unit-h);
    --control-size: var(--unit-9);
    --control-size-sm: var(--unit-7);
    --control-size-lg: var(--unit-10);
    --control-padding-x: var(--unit-2);
    --control-padding-x-sm: var(--unit-2) * 0.75;
    --control-padding-x-lg: var(--unit-2) * 1.5;
    --control-padding-y: (var(--control-size) - var(--line-height)) * 0.5 - var(--border-width);
    --control-padding-y-sm: (var(--control-size-sm) - var(--line-height)) * 0.5 - var(--border-width);
    --control-padding-y-lg: (var(--control-size-lg) - var(--line-height)) * 0.5 - var(--border-width);
    --control-icon-size: 0.8rem;

    --control-width-xs: 180px;
    --control-width-sm: 320px;
    --control-width-md: 640px;
    --control-width-lg: 960px;
    --control-width-xl: 1280px;

    /* Responsive breakpoints */
    --size-xs: 480px;
    --size-sm: 600px;
    --size-md: 840px;
    --size-lg: 960px;
    --size-xl: 1280px;
    --size-2x: 1440px;

    --responsive-breakpoint: var(--size-xs);

    /* Z-index */
    --zindex-0: 1;
    --zindex-1: 100;
    --zindex-2: 200;
    --zindex-3: 300;
    --zindex-4: 400;
}