// 360 Degree Viewer

// Mixin: Viewer slider sizes
@use "sass:math";

@mixin viewer-slider-size(var(--image-number): 36) {
  @for var(--s) from 1 through (var(--image-number)) {
    .viewer-slider[max='#{var(--image-number)}'][value='#{var(--s)}'] + .viewer-image {
      background-position-y: percentage(math.div(((var(--s))-1) * 1, (var(--image-number))-1));
    }
  }
}

.viewer-360 {
  align-items: center;
  display: flex;
  flex-direction: column;

  // Copy and add more numbers if you need
  @include viewer-slider-size(36);

  .viewer-slider {
    cursor: ew-resize;
    margin: 1rem;
    order: 2;
    width: 60%;
  }

  .viewer-image {
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 100%;
    order: 1;
  }
}